<section class="statistics-container">
  <app-resume-data />

  @defer (on viewport) {
    <app-gender />
  } @placeholder {
    <section class="statistics-placeholder">
      <mat-spinner diameter="60"></mat-spinner>
      <p>Carregant...</p>
    </section>
  }

  @defer (on viewport) {
    <app-general-results />
  } @placeholder (minimum 800ms) {
    <section class="statistics-placeholder">
      <mat-spinner diameter="60"></mat-spinner>
      <p>Carregant...</p>
    </section>
  }
</section>
